.header-site{
    background-image: url(../img/sistemasolar.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding-top: 300px;
    padding-bottom: 300px;
}

.content-site{
    padding-top: 200px;
    padding-bottom: 200px;
}


.footer-site{
    background-color: #333;
    padding-top:20px;
    padding-bottom: 1px;
}




.content {
  padding:0 20px 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
    text-align: justify;
    font-family: sans-serif, helvetica, arial;
    font-size: 15px;
    
}